* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#notice {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #d9534f;
    font-size: 1.5em; /* 크기를 키우기 위해 추가 */
}

#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 80%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.recommendation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.recommendation {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s, border-color 0.3s;
}

.recommendation img {
    width: 100px; /* 필요한 경우 너비를 조정 */
    height: auto; /* 높이는 자동으로 비율에 맞게 조정 */
    object-fit: contain; /* 이미지를 컨테이너에 맞게 조정 */
}

.recommendation:hover {
    transform: scale(1.1);
    border-color: #007BFF;
    cursor: pointer;
}
